.feedback {
  position: relative;
  height: 450px;
  background-color: $light-gray-color;

  &__slide {
    position: absolute;
    top: 0;
  }

  &__icon {
    background: url("../img/twitter-icon.png") no-repeat center top;
  }

  &__name {
    font-size: 18px;
    text-transform: none;
    letter-spacing: normal;

    &:hover {
      text-decoration: underline;
    }
  }

  &__time {
    font-size: 18px;
    text-transform: lowercase;
    font-weight: normal;
    color: $gray-color;
    letter-spacing: normal;
  }

  &__description {
    height: 14rem;
    font-size: 24px;
    font-weight: lighter;
    overflow: auto;
  }

  &__radio {
    position: absolute;
    bottom: 6.8rem;
    display: inline-block;
    height: 1.1rem;
    width: 1.1rem;
    background: transparent;
    border: solid $gray-color 1px;
    border-radius: 50px;
    z-index: 1;
    cursor: pointer;
    transform: translateX(-50%);

    &--first {
      left: 48%;
    }

    &--second {
      left: 50%;
    }

    &--third {
      left: 52%;
    }
  }

  &__option-slider {
    position: absolute;
    bottom: 6.8rem;
    left: 48%;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50px;
    z-index: 1;
    transform: translateX(-50%);
    transition: all .4s ease;
  }

  &__option--first {
    display: none;

    &:checked ~ .feedback__option-slider {
      background: $gray-color;
      left: 48%;
    }

    &:checked ~ .feedback__slide1 {
      visibility: visible;
    }

    &:checked ~ .feedback__slide2 {
      visibility: hidden;
    }

    &:checked ~ .feedback__slide3 {
      visibility: hidden;
    }
  }

  &__option--second {
    display: none;

    &:checked ~ .feedback__option-slider {
      background: $gray-color;
      left: 50%;
    }

    &:checked ~ .feedback__slide1 {
      visibility: hidden;
    }

    &:checked ~ .feedback__slide2 {
      visibility: visible;
    }

    &:checked ~ .feedback__slide3 {
      visibility: hidden;
    }
  }

  &__option--third {
    display: none;

    &:checked ~ .feedback__option-slider {
      background: $gray-color;
      left: 52%;
    }

    &:checked ~ .feedback__slide1 {
      visibility: hidden;
    }

    &:checked ~ .feedback__slide2 {
      visibility: hidden;
    }

    &:checked ~ .feedback__slide3 {
      visibility: visible;
    }
  }
}

@media (max-width: 1050px) {
  .feedback__radio--first, .feedback__option--first:checked ~ .feedback__option-slider {
    left: 45%;
  }

  .feedback__radio--third, .feedback__option--third:checked ~ .feedback__option-slider {
    left: 55%;
  }

  .feedback__title {
    padding: 2rem 0;
  }

  .feedback__name, .feedback__time {
    font-size: 16px;
  }

  .feedback__description {
    font-size: 16px;
  }
}

@media (max-width: 526px) {
  .feedback__radio--first, .feedback__option--first:checked ~ .feedback__option-slider {
    left: 40%;
  }

  .feedback__radio--third, .feedback__option--third:checked ~ .feedback__option-slider {
    left: 60%;
  }

  .feedback__title {
    padding: 2rem 0;
  }

  .feedback__name, .feedback__time {
    font-size: 16px;
  }

  .feedback__description {
    font-size: 14px;
  }
}