@mixin linkHoverProperties {
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

@mixin linkHoverAnimation {
  transform: translateY(-8px) rotate(-10deg);
}

@mixin setBackgroundImage($image) {
  background-image: url("../img/" + $image + ".png");
  background-size: cover;
}