

.photo-block {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 60rem);
  grid-gap: 0;
}

.photo-element {
  position: relative;
  overflow: hidden;

  &__img {
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 100%;
  }

  &__logo {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%)
  }

  &__text-block {
    padding: 7rem;
    background-color: $white-color;
    max-height: 40rem;
  }

  &__description {
    text-align: justify;
  }

  &__separator {
    width: 5rem;
    height: 1px;
    background-color: $light-gray-color-separator;
    margin: 4.3rem auto;
  }
}

.photo-element1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.photo-element2 {
  &__logo {
    background-image: url("../img/icon2.png");
  }
}

.photo-element3 {
  &__logo {
    background-image: url("../img/icon3.png");
  }
}

.photo-element4 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.photo-element6 {
  &__logo {
    background-image: url("../img/icon4.png");
  }
}