.shopnow-block {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 26.7rem);
}

.shopnow-element {
  cursor: pointer;

  &:hover > .shopnow-element__overlay {
    transition: all 0.3s linear 0s;
    transform: scale(1, 1);
  }

  &__img {
    opacity: 0;
    height: 100%;
    width: 100%;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $green-transparent-color;
    cursor: pointer;
    transition: all 0.3s linear 0s;
    transform: scale(0, 1);
    transform-origin: center top;
  }

  &__logo {
    transition: all 0.3s linear 0s;
    filter: none;

    &:hover {
      transition: all 0.3s linear 0s;
      filter: blur(2px);
    }
  }

  &__text {
    position: absolute;
    left: 50%;
    top: 60%;
    color: white;
    font: normal 14px Lato;
    text-transform: uppercase;
    transform: translate(-50%, 50%);

    &:hover {
      text-decoration: underline;
    }
  }
}

.shopnow-element1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;

  @include setBackgroundImage("photo12");
}

.shopnow-element2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;

  @include setBackgroundImage("photo11");
}

.shopnow-element3 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;

  @include setBackgroundImage("photo10");
}

.shopnow-element4 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;

  @include setBackgroundImage("photo9");
}

.shopnow-element5 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 7;

  @include setBackgroundImage("photo7");
}

.shopnow-element6 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;

  @include setBackgroundImage("photo13");
}

.shopnow-element7 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 6;

  @include setBackgroundImage("photo15");
}

.shopnow-element8 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 6;
  grid-column-end: 7;

  @include setBackgroundImage("photo8");
}

@media (max-width: 1000px) {
  .shopnow-block {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .shopnow-element4 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .shopnow-element5 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .shopnow-element7 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .shopnow-element8 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

@media (max-width: 720px) {
  .shopnow-block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .shopnow-element3 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .shopnow-element4 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .shopnow-element5 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .shopnow-element7 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .shopnow-element8 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

@media (max-width: 580px) {
  .shopnow-block {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .shopnow-element {
    grid-column-start: 0;
    grid-column-end: 1;
  }

  .shopnow-element2 {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .shopnow-element3 {
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .shopnow-element4 {
    grid-row-start: 5;
    grid-row-end: 7;
  }

  .shopnow-element5 {
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .shopnow-element6 {
    grid-row-start: 8;
    grid-row-end: 9;
  }

  .shopnow-element7 {
    grid-row-start: 9;
    grid-row-end: 10;
  }

  .shopnow-element8 {
    grid-row-start: 10;
    grid-row-end: 11;
  }

}