$white-color: #FFFFFF;
$white-transparent-color: rgba(255, 255, 255, 0.7);
$font-color: #4d4959;
$light-gray-color: #f7f7f7;
$light-gray-color-separator: #d7d7d7;
$dark-gray-color: #353738;
$gray-color: #848789;