@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
.header {
  height: 80rem;
  width: 100%;
  background: url("../img/header.png") no-repeat center top;
  background-size: cover;
  padding-top: 3.5rem;
}

.header__top {
  text-align: center;
  margin: auto;
}

.header__menu-item {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font: bold 13px Lato;
  color: #4d4959;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.header__menu-item:hover {
  transform: translateY(-8px) rotate(-10deg);
}

.header__logo {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: url("../img/logo.png") no-repeat center top;
  vertical-align: middle;
  margin: 0 6.5rem;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.header__logo:hover {
  transform: translateY(-8px) rotate(-10deg);
}

.header__logo-top {
  display: none;
}

.header__separator {
  margin: 0 3.6rem;
  font: bold 13px Lato;
  color: #4d4959;
}

@media (max-width: 680px) {
  .header__menu-item {
    display: block;
    margin: 5rem 0;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .header__menu-item:hover {
    background-color: #FFFFFF;
  }
  .header__separator {
    display: none;
  }
  .header__logo-top {
    display: inline-block;
  }
  .header__logo-middle {
    display: none;
  }
}

* {
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 10px;
}

html {
  min-width: 360px;
}

.hidden {
  visibility: hidden;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.text-block {
  width: 100%;
  padding: 7rem 28rem;
  background-color: #f7f7f7;
  text-align: center;
}

.text-block__logo {
  height: 100%;
  width: 5rem;
  margin: auto;
  background: url("../img/icon1.png") no-repeat center top;
  background-size: contain;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.text-block__logo:hover {
  transform: translateY(-8px) rotate(-10deg);
}

.text-block__title {
  padding: 3.5rem 0;
  color: #353738;
  font: bold 18px 'PT Sans';
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.text-block__description {
  color: gray;
  font: normal 14px 'PT Sans';
  line-height: 2.5rem;
}

@media (max-width: 1030px) {
  .text-block {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .text-block__description {
    text-align: justify;
  }
}

@media (max-width: 440px) {
  .text-block {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .text-block__title {
    font-size: 14px;
  }
  .text-block__description {
    font-size: 12px;
    line-height: 2rem;
  }
}

.photo-block {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 60rem);
  grid-gap: 0;
}

.photo-element {
  position: relative;
  overflow: hidden;
}

.photo-element__title {
  padding: 2.6rem 0;
}

.photo-element__img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 100%;
}

.photo-element__logo {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.photo-element__text-block {
  padding: 7rem 7rem 0 7rem;
  background-color: #FFFFFF;
  height: 40rem;
  transition: 0.5s linear;
}

.photo-element__text-block:after {
  content: " ";
  display: block;
  margin: auto;
  width: 1rem;
  height: 1rem;
  background-color: #FFFFFF;
  transform: rotate(45deg);
}

.photo-element__text-block:hover {
  height: 100%;
}

.photo-element__text-block:hover .photo-element__description {
  height: 100%;
  overflow: visible;
}

.photo-element__description {
  text-align: justify;
  height: 13rem;
  overflow: hidden;
  transition: 0.5s linear;
}

.photo-element__separator {
  width: 5rem;
  height: 1px;
  background-color: #d7d7d7;
  margin: 4.3rem auto;
}

.photo-element1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.photo-element2__logo {
  height: initial;
  background-image: url("../img/icon2.png");
}

.photo-element3__logo {
  height: initial;
  background-image: url("../img/icon3.png");
}

.photo-element4 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.photo-element6__logo {
  height: initial;
  background-image: url("../img/icon4.png");
}

@media (max-width: 1170px) {
  .photo-element__text-block:after {
    display: none;
  }
}

@media (max-width: 900px) {
  .photo-block {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 60rem);
  }
  .photo-element1, .photo-element4, .photo-element6 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .photo-element__img {
    width: 100%;
    height: 100%;
  }
  .photo-element__photo {
    width: 100%;
    height: 200px;
  }
}

.feedback {
  position: relative;
  height: 450px;
  background-color: #f7f7f7;
}

.feedback__slide {
  position: absolute;
  top: 0;
  transition: all .4s ease;
}

.feedback__icon {
  background: url("../img/twitter-icon.png") no-repeat center top;
}

.feedback__name {
  font-size: 18px;
  text-transform: none;
  letter-spacing: normal;
}

.feedback__name:hover {
  text-decoration: underline;
}

.feedback__time {
  font-size: 18px;
  text-transform: lowercase;
  font-weight: normal;
  color: #848789;
  letter-spacing: normal;
}

.feedback__description {
  height: 14rem;
  font-size: 24px;
  font-weight: lighter;
  overflow: hidden;
}

.feedback__radio {
  position: absolute;
  bottom: 6.8rem;
  display: inline-block;
  height: 1.1rem;
  width: 1.1rem;
  background: transparent;
  border: solid #848789 1px;
  border-radius: 50px;
  z-index: 1;
  cursor: pointer;
  transform: translateX(-50%);
}

.feedback__radio--first {
  left: 48%;
}

.feedback__radio--second {
  left: 50%;
}

.feedback__radio--third {
  left: 52%;
}

.feedback__option-slider {
  position: absolute;
  bottom: 6.8rem;
  left: 48%;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50px;
  z-index: 1;
  transform: translateX(-50%);
  transition: all .4s ease;
}

.feedback__option--first {
  display: none;
}

.feedback__option--first:checked ~ .feedback__option-slider {
  background: #848789;
  left: 48%;
}

.feedback__option--first:checked ~ .feedback__slide1 {
  visibility: visible;
}

.feedback__option--first:checked ~ .feedback__slide2 {
  visibility: hidden;
}

.feedback__option--first:checked ~ .feedback__slide3 {
  visibility: hidden;
}

.feedback__option--second {
  display: none;
}

.feedback__option--second:checked ~ .feedback__option-slider {
  background: #848789;
  left: 50%;
}

.feedback__option--second:checked ~ .feedback__slide1 {
  visibility: hidden;
}

.feedback__option--second:checked ~ .feedback__slide2 {
  visibility: visible;
}

.feedback__option--second:checked ~ .feedback__slide3 {
  visibility: hidden;
}

.feedback__option--third {
  display: none;
}

.feedback__option--third:checked ~ .feedback__option-slider {
  background: #848789;
  left: 52%;
}

.feedback__option--third:checked ~ .feedback__slide1 {
  visibility: hidden;
}

.feedback__option--third:checked ~ .feedback__slide2 {
  visibility: hidden;
}

.feedback__option--third:checked ~ .feedback__slide3 {
  visibility: visible;
}

@media (max-width: 1050px) {
  .feedback__radio--first, .feedback__option--first:checked ~ .feedback__option-slider {
    left: 45%;
  }
  .feedback__radio--third, .feedback__option--third:checked ~ .feedback__option-slider {
    left: 55%;
  }
  .feedback__title {
    padding: 2rem 0;
  }
  .feedback__name, .feedback__time {
    font-size: 16px;
  }
  .feedback__description {
    font-size: 16px;
  }
}

@media (max-width: 526px) {
  .feedback__radio--first, .feedback__option--first:checked ~ .feedback__option-slider {
    left: 40%;
  }
  .feedback__radio--third, .feedback__option--third:checked ~ .feedback__option-slider {
    left: 60%;
  }
  .feedback__title {
    padding: 2rem 0;
  }
  .feedback__name, .feedback__time {
    font-size: 16px;
  }
  .feedback__description {
    font-size: 14px;
  }
}

.shopnow-block {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 26.7rem);
}

.shopnow-element {
  cursor: pointer;
}

.shopnow-element:hover > .shopnow-element__overlay {
  transition: all 0.3s linear 0s;
  transform: scale(1, 1);
}

.shopnow-element__img {
  height: 100%;
  width: 100%;
}

.shopnow-element__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 194, 158, 0.7);
  cursor: pointer;
  transition: all 0.3s linear 0s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.shopnow-element__logo {
  transition: all 0.3s linear 0s;
  filter: none;
}

.shopnow-element__logo:hover {
  transition: all 0.3s linear 0s;
  filter: blur(2px);
}

.shopnow-element__text {
  position: absolute;
  left: 50%;
  top: 60%;
  color: white;
  font: normal 14px Lato;
  text-transform: uppercase;
  transform: translate(-50%, 50%);
}

.shopnow-element__text:hover {
  text-decoration: underline;
}

.shopnow-element1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.shopnow-element2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.shopnow-element3 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.shopnow-element4 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}

.shopnow-element5 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 7;
}

.shopnow-element6 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.shopnow-element7 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 6;
}

.shopnow-elemen8 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 6;
  grid-column-end: 7;
}

@media (max-width: 1160px) {
  .shopnow-block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .shopnow-element3 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .shopnow-element4 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .shopnow-element5 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .shopnow-element7 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .shopnow-element8 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

@media (max-width: 580px) {
  .shopnow-block {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
  .shopnow-element {
    grid-column-start: 0;
    grid-column-end: 1;
  }
  .shopnow-element2 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .shopnow-element3 {
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .shopnow-element4 {
    grid-row-start: 5;
    grid-row-end: 7;
  }
  .shopnow-element5 {
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .shopnow-element6 {
    grid-row-start: 8;
    grid-row-end: 9;
  }
  .shopnow-element7 {
    grid-row-start: 9;
    grid-row-end: 10;
  }
  .shopnow-element8 {
    grid-row-start: 10;
    grid-row-end: 11;
  }
}

.button-block {
  width: 100%;
  text-align: center;
  background-color: #282f35;
}

.button-block__btn {
  display: inline-block;
  padding: 0 11rem;
  margin: 7.5rem 0;
  font: bold 1.4rem Lato;
  line-height: 4.8rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 0 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: all 0.5s;
  cursor: pointer;
}

.button-block__btn:hover {
  background-size: 100% 100%;
}

.button-block__btn--green {
  color: #64c29e;
  background-image: linear-gradient(#64c29e, #64c29e);
  border: 1px solid #64c29e;
}

.button-block__btn--green:hover {
  color: #282f35;
  background-color: #64c29e;
}

.button-block__btn--white {
  margin: 0 8.3rem;
  color: #FFFFFF;
  background-image: linear-gradient(#FFFFFF, #FFFFFF);
  border: 1px solid #FFFFFF;
}

.button-block__btn--white:hover {
  color: #282f35;
  background-color: #FFFFFF;
}

@media (max-width: 1190px) {
  .button-block__btn {
    padding: 0 5rem;
  }
}

@media (max-width: 900px) {
  .button-block {
    padding: 1rem 0;
  }
  .button-block__btn {
    display: block;
    margin: 5rem 8.3rem;
    padding: 0;
  }
}

.subscribe {
  padding: 11rem 0;
  width: 100%;
  text-align: center;
}

.subscribe__title {
  padding: 4rem 0;
  font: italic 2.4rem Lato;
  color: #848789;
}

.subscribe__form-item {
  position: relative;
  display: inline-block;
  text-align: left;
}

.subscribe__form-input {
  display: inline-block;
  height: 6.7rem;
  width: 40rem;
  padding-left: 2.5rem;
  border: 1px solid #f7f7f7;
  font: normal 2rem Lato;
  color: #848789;
}

.subscribe__form-input:valid + .subscribe__form-label {
  font-style: normal;
  padding: 0;
  transform: translateY(-2.3rem) scale(0.75, 0.75);
  opacity: .8;
}

.subscribe__form-label {
  position: absolute;
  top: 0;
  padding: 2rem 2.5rem;
  font: italic 2rem Lato;
  color: #848789;
  transform-origin: left center;
  opacity: .3;
  transition: .4s;
  pointer-events: none;
}

.subscribe__form-btn {
  height: 6.7rem;
  padding: 0 4.5rem;
  background: #64c29e;
  border: none;
  font: bold 2rem Lato;
  color: #FFFFFF;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: .4s;
}

.subscribe__form-btn:hover {
  border: solid #64c29e 1px;
  background: transparent;
  color: #64c29e;
}

@media screen and (max-width: 600px) {
  .subscribe__form-item, .subscribe__form-input, .subscribe__form-btn {
    width: 100%;
    margin-bottom: 1rem;
  }
}
